.App {
  margin: 3em;
  display: inline-block;
}

.error {
  border: red 2px solid;
}

.error-message {
  color: red;
}

.isDone {
  opacity: 0.5;
}

.activeFilter {
  background-color: lightseagreen;
}
